/* ===================================== 
   Grid Layout
======================================== */
header{
  grid-area: header;
  background-color: rgb(103, 37, 189);
  display:flex;
}
nav{
  grid-area: nav;
  background-color: rgb(59, 10, 122);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main{
  grid-area: main;
  background-color: white;
}

dashboard{
  grid-area: dashboard;
  display: flex;
  flex-wrap: wrap;
}
.alert-banner,.alert{
  display: flex;
  background-color: rgb(103, 37, 189);
  border-radius: 10px;
  width: 100%;
  margin-left:2%;
  margin-right:2%;
  margin-top: 1%;
}
.alert-banner-close{
  margin-right: 20px;
  color:white;
}
.alertText{
  flex-grow: 1;
  color:white;
}
traffic{
  grid-area: traffic;
}
dailyTraffic{
  grid-area: dailyTraffic;
}
mobileUsers{
  grid-area: mobileUsers;
}
socialStats{
  grid-area: socialStats;
}
newMembers{
  grid-area: newMembers;
}
recentActivity{
  grid-area: recentActivity;
}
messageUser{
  grid-area: messageUser;
}
settings{
  grid-area: settings;
}

.widget-container-full, .widget-container-half {
  width: 95vw;
}

.grid-container {
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "nav"
  "main";
  }
  .dashboard{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(150px,auto);
    grid-template-areas: 
      "dashboard"
      "traffic"
      "dailyTraffic"
      "mobileUsers"
      "socialStats"
      "newMembers"
      "recentActivity"
      "messageUser"
      "settings";
  }

  @media(min-width:768px){
    .grid-container {
      grid-template-columns: 55px 1fr;
      grid-template-areas:
      "header header"
      "nav main";
    }
    .dashboard{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: minmax(150px,auto);
      grid-template-areas: 
        "dashboard dashboard"
        "traffic traffic"
        "dailyTraffic mobileUsers"
        "socialStats socialStats"
        "newMembers recentActivity"
        "messageUser settings";
    }
    nav{
      display:block;
    }
    .widget-container-full {
      width: 90vw;
    }
    .widget-container-half{
      width: 45vw;
    }
      
  }
  
  @media(min-width:968px){
    .grid-container{
      grid-template-areas: 
        "header header header" 
        "nav main main"
        "nav main main"
    }
  }
  

 